@charset "utf-8";

// コンテナのタイトル
.c-title{
    display: inline-block;
    margin: $space_xl 0 $space_4l;
    font-size: $font-size_3l;
    font-weight: 700;
    text-align: center;
    @include mq(md){
        margin: $space_l 0 $space_4l;
    }
    @include mq(sm){
        margin: $space_l 0 $space_xxl;
        font-size: $font-size_xxl;
    }
}