/*フェードインアニメ*/

/*左から右にフェードイン*/
.left-to-right {
    opacity: 0.1;
    transform: translateX(-20px);
    transition: all 1s;
  }
  .left-to-right.fadein {
    opacity: 1;
    transform: translate(0);
  }
  
  /*下から上にフェードイン*/
  .down-to-top {
    opacity: 0.1;
    transform: translateY(20px);
    transition: all 1s;
  }
  .down-to-top.fadein {
    opacity: 1;
    transform: translateY(0);
  }