@charset "utf-8";

// ==============================
// ブレイクポイント
// ==============================
$breakpoints:(
    'sm': 'screen and (max-width: 480px)',
    'md': 'screen and (max-width: 896px)',
    'lg': 'screen and (max-width: 1024px)',
    'xl': 'screen and (max-width: 1200px)',
) !default;

// =============================
// mixin
// =============================
// @mixinは関数のようなものを作れる
// #{}は「インターポーレーション」という。演算できない箇所、変数の使えない箇所でも使えるようにするもの
// calcなどでつかう
@mixin mq($breakpoint: sm){
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// ==============================
// 変数
// ==============================
$font-color_default: #242221;
$font-color_sub1: #f2ede9;
$color_corp: #BAD3FF;
$color_bg: #C0C0C0;
$color_bg_sub1: rgb(255, 255, 255);

$site-width: 980px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 20px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 36px;
$font-size_4l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;
$space_4l: 50px;

$font-family_main: 'Noto Sans JP', sans-serif;
$font-family_corp: 'Playfair Display', serif;

// ==============================
// base
// ==============================
html, body{
    width: 100%;
    color: $font-color_default;
    font-size: $font-size_default;
    font-family: $font-family_main;
    text-size-adjust: 100%;
    letter-spacing: 0.1em;
    @include mq(md){
        font-size: $font-size_m;
    }
    @include mq(sm){
        font-size: $font-size_s;
    }
}

p{
    line-height: 1.5;
}

p,a{
    -webkit-font-smoothing: antialiased;

}

a{
    display: block;
    color: $font-color_default;
    text-decoration: none;
    transition: .3s;
}

a:hover{
    color: $color_corp;
    transition: .3s;
}

img{
    width: 100%;
    vertical-align: bottom;
}
