@charset "utf-8";

.p-header{
    &__title{
        font-size: $font-size_4l;
        font-family: $font-family_corp;
        font-weight: 700;
        @include mq(md){
            font-size: $font-size_xl;
        }
        @include mq(sm){
            font-size: $font-size_l;
        }
    }
}