@charset "utf-8";

.p-hero{
    background-image: url(../dist/img/portforio-hero_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #333;
    justify-content: center;
    height: 730px;
    text-align: center;
    content: '';
    width: 100%;
    z-index: -1;
    @include mq(md){
        height: 700px;
        background-size: cover;
    }
    
    &__title{
        color: $font-color_sub1;
        font-family: $font-family_corp;
        letter-spacing: 0.5em;
        font-weight: 700;
        font-size: $font-size_4l;
        margin: auto;
        @include mq(sm){
            font-size: $font-size_xl;
        }
    }
    br{
        display: none;
        @include mq(){
            display: block
        }
    }
}