@charset "utf-8";

.l-header{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    padding-left: $space_xl;
    padding-right: $space_xl;
    z-index: 3;
    color: $font-color_sub1;
& a{
    color: $font-color_sub1;
}
&.float-active{
    background-color: rgba(255, 255, 255, 0.5);
    & a{
        color: $font-color_default;
    }
}
@include mq(md){
    padding: 0 $space_xl;
    height: 60px;
    & a{
        color: inherit;
    }
  }
}