@charset "utf-8";

.l-container{
    position: relative;
    margin: 0 auto;
    padding: 80px 120px;
    max-width: $site-width;
    text-align: center;
    @include mq(md){
        width: 100%;
        padding: 40px 0;
    }
    &__fluid{
        width: 100%;
    }
    &__body{
        @include mq(md){
            margin-right: $space_xl;
            margin-left: $space_xl;
        }
    }
}