@charset "utf-8";

.p-contact{
    @include mq(){
        width: 70%;
        margin: auto;
    }
    br {
        display: none;
        @include mq(){
            display: block;
        }
    }
    &__form{
        width: 100%;
        width: 60%;
        margin: $space_l auto;
        @include mq(){
            width: 100%;
        }
    }

    &__input{
        display: block;
        margin-bottom: $space_l;
        border: 2px solid #C0C0C0;
        border-radius: 4px;
        outline: none;
        height: 60px;
        font-size: $font-size_l;
        color: $font-color_default;
        box-sizing: border-box;
        width: 100%;
        padding: 5px 10px;
        &:focus {
            border: 3px solid $color_corp;
        }
    }
    &__textarea {
        height: 200px;
    }
}
::placeholder {
    color: darkgrey;
}

