@charset "utf-8";

.p-menu{
    @include mq(md){
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        padding-top: 80px;
        background: rgba(255, 255, 255, .85);
        transition: .5s;
        text-align: center;
        &.active{
            transform: translateX(-100%);
            z-index: 4;
        }
    }
    &__list{
        display: flex;
        font-weight: 700;
        color: $font-color_default;
        @include mq(md){
            display: block;
            font-size: $font-size_3l;
        }
    }
    &__item{
        margin-right: $space-3l;
        &:last-of-type{
            margin-right: 0;
        }
        @include mq(md){
            margin-right: 0;
            margin-bottom: $space_xl;
        }
    }
    &__link:hover{
        transform: scale(1.2);
        color: $color_corp;
    }
    &__trigger{
        display: none;
        @include mq(md){
            display: inline-block;
        }
        transition: all .4s;
        box-sizing: border-box;
        position: relative;
        width: $space_3l;
        height: $space_xxl;
        cursor: pointer;
        z-index: 5;
        span{
            display: inline-block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $font-color_sub1;
            border-radius: 4px;
            transition: all .3s;
            &:nth-last-of-type(1){
                top: 0;
            }
            &:nth-last-of-type(2){
                top: 14px;
            }
            &:nth-last-of-type(3){
                bottom: 0;
            }
        }
        &.float-active{
            span{
                background-color: $font-color_default;
            }
        }
        &.active span{
            background-color: $font-color_default;
            
            &:nth-last-of-type(1){
                transform: translateY(12px) rotate(-45deg);
            }
            &:nth-last-of-type(2){
                opacity: 0;
            }
            &:nth-last-of-type(3){
                transform: translateY(-15px) rotate(45deg);
            }
        }
    }
}